# All settings made here will override the global settings for the current emulator core

video_shader = /opt/retropie/emulators/retroarch/shader/snes_phosphor.glslp
video_shader_enable = false
video_smooth = false
#include "/opt/retropie/configs/all/retroarch.cfg
input_remapping_directory = /opt/retropie/configs/snes/

rewind_enable = "true"
rewind_buffer_size = "10"
rewind_granularity = "5"