# All settings made here will override the global settings for the current emulator core

video_shader = "/opt/retropie/emulators/RetroArch/shader/phosphor.glslp"
video_shader_enable = false
video_smooth = false
