[Unit]
Description=Bluetooth Auto Trust Auth Agent for PS3 controllers
After=bluetooth.service
PartOf=bluetooth.service

[Service]
Type=simple
#ExecStart=/usr/bin/bt-agent -c NoInputNoOutput -p /home/pi/primestationone/reference/ps3bt/pin
ExecStart=/bin/sh -c '/usr/bin/yes | /usr/bin/bt-agent --capability=NoInputNoOutput'
User=root
[Install]
WantedBy=bluetooth.target
