[Unit]
Description=Auto Bluetooth Pairing service
After=bluetooth.service
Requires=bluetooth.service
 
[Service]
ExecStart=/usr/local/bin/auto-agent.py
 
[Install]
WantedBy=multi-user.target