[Unit]
Description=DS4 Driver for PS4 Controller
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/local/bin/ds4drv --daemon
User=pi
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
