[Unit]
Description=DS4 Driver for PS4 Controller
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/local/bin/dsdrv --config /home/pi/.config/ds4drv/ds4drv.conf
# --daemon
User=pi
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
