ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="05c4", RUN+="/usr/local/bin/ps4AutoPairUsbController.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="09cc", RUN+="/usr/local/bin/ps4AutoPairUsbController.sh"
