#include "/opt/retropie/configs/all/retroarch.cfg"
# All settings made here will override the global settings for the current emulator core

savefile_directory = ~/RetroPie/roms/3do
savestate_directory = ~/RetroPie/roms/3do
input_remapping_directory = /opt/retropie/configs/3do/
