# All settings made here will override the global settings for the current emulator core

rewind_enable = "true"
rewind_buffer_size = "10"
rewind_granularity = "2"

#include "/opt/retropie/configs/all/retroarch.cfg
input_remapping_directory = /opt/retropie/configs/atari2600/
