# All settings made here will override the global settings for the current emulator core

#include "/opt/retropie/configs/all/retroarch.cfg
input_remapping_directory = /opt/retropie/configs/atarilynx/
